@use "bootstrap/scss/bootstrap" as *;
@import "@/node_modules/@flaticon/flaticon-uicons/css/all/all";

$border-color: $danger;

.invalid-feedback {
	margin-top: 0.25rem;
	display: block;
	line-height: 1;
	ul li {
		margin-bottom: 5px;
		line-height: 1.35;
	}
}
.form-control.is-invalid {
	border: 1px solid $border-color !important;
	background-image: none;
	padding-right: 1rem;
}

// Radio-Button
.form-check-custom.form-check-solid .form-check-input.is-invalid {
	border: 1;
	border: 1px solid $border-color;
}

.required {
    &:after {
      content: "*";
      position: relative;
      font-size: inherit;
      color: red;
      padding-left: 0.25rem;
      font-weight: bold;
    }
}

.fi-sr-circle-user {
	color: #8080806e !important;
}